@media all and (max-width: 992px) {
    .navbar-light .navbar-toggler {
        color: #e30e2f;
        border-color: #e30e2f;
    }

    #main-nav,
    #main-nav.scroll {
        background-color: #fff;
    }

    #main-nav a.navbar-brand {
        color: #e30e2f;
    }

    #main-nav .nav-item {
        text-align: right;
        padding: 10px 0;
        border-top: 1px solid rgba(119, 119, 119, 0.5);
    }

    #main-nav .nav-item a {
        color: #e30e2f;
    }
}

@media (max-width: 765px) {
    #contact textarea {
        margin-top: 25px;
    }
    #skills img {
        margin-top: 25px;
    }
    #about-me {
        background-image: none;
        background-color: #f6f4f3;
        height: auto;
    }
    #about-me .my-description {
        font-size: 0.85em;
    }
    #about-me figure {
        display: block;
    }
}